* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS";
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 18px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    position: center;
}

nav ul.buttons1 {
    float: left;
    margin-left: 5px;
}

nav ul.buttons2 {
    float: right;
    margin-right: 5px;
}

nav ul li, nav ul form {
    display: inline-block;
    line-height: 80px;
    margin: 0 3px;
}

nav ul li a, nav ul form button {
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
}

a.active, a.hover {
    background: #1b9bff;
    transition: .5s;

}

a.auth-active {
    background: #1b9bff;
    transition: .5s;

}

button.auth-active1 {
    background: #1b9bff;
    transition: .5s;
}

form.logout-form button {
    box-sizing: border-box; /* Remove the border specifically for the logout button */
}

body.index {
    background-image: url("/images/aroundTheWorld.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;

}

body.login, body.register, body.aboutus {
    background-image: url("/images/frameLoginAndRegisterPages.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;

}

.registerbox, .aboutus {
    width: 1000px;
    height: 750px;
    background: #0082e6;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 70px;
    border-radius: 20px;
}

.loginbox, .contacts {
    width: 1000px;
    height: 370px;
    background: #0082e6;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 70px;
    border-radius: 20px;
}

h1 {
    margin: 0;
    padding: 0 0 0;
    text-align: center;
    font-size: 22px;
    color: white;
}

h2 {
    margin: 0;
    padding: 20px 300px;
    font-size: 300px;
}

.registerbox p, .loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}

.registerbox input, .loginbox input {
    width: 100%;
    margin-bottom: 20px;

}

.registerbox input[type="text"], input[type="password"], input[type="number"], .loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerbox input[type="submit"], .loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1b9bff;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;

}

.registerbox a, .loginbox a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: white;
}

.buttons2 input[type="submit"] {
    font-size: 20px;
    background: #1b9bff;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    height: 39px;


}
.form-group{
    margin-left: 25px;
    margin-right: 25px;
}
.main-form-login{
    background-color: #49857b;
    border-radius: 25px;
    width:74%;
    height: 77%;
    margin-top: 100px;
    margin-left: 15px;
}

.errors{
    width:100%;
    height: 100%;
    background-color: rgb(234, 153, 153);
    font-weight:600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

