<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="aboutus">
        <h1>Who are we?</h1>
        <form style="color: white">
            </br>
            <h3>Welcome to <b>Travel seeker</b> - your personalized journey to the most convenient and hassle-free travel
            planning!</h3> </br>
            </br>
            <h3> What we offer: </h3></br>
            <h4>🛫 Airline tickets:</h4> Choose your destination and travel with ease. Find great deals and amenities
            that fit your needs.</br>
            <h4>🏨 Hotel rooms:</h4> Discover our wide selection of hotels worldwide. Whether you are looking for a
            luxury hotel or a cozy apartment, we provide you with the perfect accommodation.</br>
            <h4>🚗 Car Rentals:</h4> Travel in comfort and style by booking a rental car through our convenient app.
            Choose the right car for your adventure.</br>
            </br>
            <h3>Our mission:</h3></br>
            We created <b>Travel seeker</b> with the idea of making your travel more comfortable, easy and enjoyable.
            Our mission is to provide you with an affordable way to plan any trip, whether you're traveling for business
            or on vacation.</br>
            </br>
            <h3>What makes us unique:</h3></br>

            <h4>✨ Variety and convenience:</h4> We combine in one place a variety of services so that you can book
            everything you need for your trip in one place and with minimal effort.</br>

            <h4> 🌐 Global coverage:</h4> We are here to support you wherever you are in the world. With our global
            partnership, we provide you with the best options for your comfort and satisfaction.</br>

            <h4> 🤝 Trust and Reliability:</h4> We believe in the power of relationships and strive to provide our
            services with a high standard, professionalism and reliability.</br>
            Let's work together to make your next trip unforgettable and hassle-free!</br>

            With thanks,</br>
            The <b>Travel seeker</b> team
        </form>
    </div>
</header>
</body>
</html>