<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="add-airplane-ticket" style="height: auto; top: 55%;">
        <h1>Car for rental:</h1>
        <form th:method="post"
              th:action="@{/offers/add-cars}"
              th:object="${addCarsDTO}">

            <label for="make" class="text-white">Make:</label>
            <input th:field="*{make}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="make"
                   type="text"
                   class="form-control"
                   id="make"
                   placeholder="Make"/>
            <small th:if="${#fields.hasErrors('make')}"
                   th:errorclass="errors"
                   th:errors="*{make}"
                   class="text-danger">
                Make error!
            </small>

            <label for="model" class="text-white">Model:</label>
            <input th:field="*{model}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="model"
                   type="text"
                   class="form-control"
                   id="model"
                   placeholder="model"/>
            <small th:if="${#fields.hasErrors('model')}"
                   th:errorclass="errors"
                   th:errors="*{model}"
                   class="text-danger">
                Model error!
            </small>
            <label for="bodyType">Body type:</label><br>
            <select name="bodyType" id="bodyType">
                <option value="" disabled selected hidden>Choose a body type</option>
                <!--                COMPACT, COUPE, CABRIO, SEDAN, HATCHBACK, SUV, VAN-->
                <option value="COMPACT">COMPACT</option>
                <option value="COUPE">COUPE</option>
                <option value="CABRIO">CABRIO</option>
                <option value="HATCHBACK">HATCHBACK</option>
                <option value="SUV">SUV</option>
                <option value="SEDAN">SEDAN</option>
                <option value="VAN">VAN</option>


            </select><br>
            <small th:if="${#fields.hasErrors('bodyType')}" th:errorclass="errors" th:errors="*{bodyType}" class="text-danger"></small><br>


            <label for="fuelType">Fuel type:</label><br>
            <select name="fuelType" id="fuelType">
                <option value="" disabled selected hidden>Choose a fuel type</option>
                <!--                PETROL, DIESEL, GASOLINE, ELECTRIC, HYBRID;-->
                <option value="PETROL">PETROL</option>
                <option value="DIESEL">DIESEL</option>
                <option value="GASOLINE">GASOLINE</option>
                <option value="ELECTRIC">ELECTRIC</option>
                <option value="HYBRID">HYBRID</option>


            </select><br>
            <small th:if="${#fields.hasErrors('fuelType')}" th:errorclass="errors" th:errors="*{fuelType}" class="text-danger"></small><br>

            <label for="price" class="text-white">Price:</label>
            <input th:field="*{price}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="price"
                   type="number"
                   step="any"
                   class="form-control"
                   id="price"
                   placeholder="Price"/>
            <small th:if="${#fields.hasErrors('price')}"
                   th:errorclass="errors"
                   th:errors="*{price}"
                   class="text-danger">
                Price error!
            </small>

            <label for="available" class="text-white">Quantity:</label>
            <input th:field="*{available}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="available"
                   type="number"
                   class="form-control"
                   id="available"
                   placeholder="Quantity"/>
            <small th:if="${#fields.hasErrors('available')}"
                   th:errorclass="errors"
                   th:errors="*{available}"
                   class="text-danger">
                Quantity error!
            </small>

            <input type="submit" name="" value="Add offer for car rental">
        </form>
    </div>
</header>
</body>
</html>