<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox">
        <h1>Register here</h1>
        <form th:method="post"
              th:action="@{/offers/add-hotels}"
              th:object="${addHotelsDTO}">
            <p>Hotel name</p>
            <input th:field="*{name}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="name" placeholder="Enter name">

            <p>Country</p>
            <input th:field="*{country}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="country" placeholder="Enter country">
            <p>City</p>
            <input th:field="*{city}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="city" placeholder="Enter city">

            <p>Address</p>
            <input th:field="*{address}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="address" placeholder="Enter address">
            <p>Hotel stars</p>
            <input
                    th:field="*{stars}"
                    th:errorclass="'is-invalid alert-danger'"
                    type="number" name="stars" placeholder="Enter hotel stars">
            <p>Description</p>
            <input
                    th:field="*{description}"
                    th:errorclass="'is-invalid alert-danger'"
                    type="text" name="description" placeholder="Enter description">

            <label for="roomType">What type of room do you prefer?</label>
            <select  name="roomType" id="roomType">
                <option value="DOUBLE_ROOM">DOUBLE_ROOM</option>
                <option value="STUDIO">STUDIO</option>
                <option value="APARTMENT">APARTMENT</option>
            </select>

            <p>Price per night</p>
            <input th:field="*{pricePerNight}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="number" name="pricePerNight" placeholder="Enter price for one night">

            <p>Price for breakfast</p>
            <input th:field="*{priceBreakfast}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="number" name="priceBreakfast" placeholder="Enter price for breakfast">

            <p>Price for dinner</p>
            <input th:field="*{priceDinner}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="number" name="priceDinner" placeholder="Enter price for dinner">

            <p>All inclusive price</p>
            <input th:field="*{allInclusive}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="number" name="allInclusive" placeholder="Enter price for all inclusive">

            <input type="submit" name="" value="Add airplane ticket">
        </form>
    </div>
</header>
</body>
</html>