<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox">
        <h1>Register here</h1>
        <form th:method="post"
              th:action="@{/offers/add-airplane-tickets}"
              th:object="${addAirplaneTicketsDTO}">


            <p>Company name</p>
            <input th:field="*{companyName}"
                   th:errorclass="'is-invalid alert-danger'"
                   id="companyName"
                   type="text"
                   name="companyName"
                   placeholder="Enter company name">
            <small class="invalid-feedback bg-danger text-danger">
                Company name should not be empty and size should be between 2 and 50 symbols!
            </small>


            <p>Date and hour</p>
            <input th:field="*{date}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="date" placeholder="yyyy-MM-dd">
            <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            <p>From airport</p>
            <input th:field="*{fromAirport}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="fromAirport" placeholder="Enter airport">
            <div th:if="${#fields.hasErrors('fromAirport')}" th:errors="*{fromAirport}"></div>

            <p>To airport</p>
            <input th:field="*{toAirport}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="text" name="toAirport" placeholder="Enter airport">
            <div th:if="${#fields.hasErrors('toAirport')}" th:errors="*{toAirport}"></div>
            <p>Fly number</p>
            <input
                    th:field="*{flyNumber}"
                    th:errorclass="'is-invalid alert-danger'"
                    type="text" name="flyNumber" placeholder="Enter fly number">
            <div th:if="${#fields.hasErrors('flyNumber')}" th:errors="*{flyNumber}"></div>
            <p>Price</p>
            <input
                    th:field="*{price}"
                    th:errorclass="'is-invalid alert-danger'"
                    type="number" name="price" placeholder="Enter price">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            <p>More luggage price</p>
            <input th:field="*{moreLuggagePrice}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="number" name="moreLuggagePrice" placeholder="Enter price">
            <div th:if="${#fields.hasErrors('moreLuggagePrice')}" th:errors="*{moreLuggagePrice}"></div>

            <p>More luggage price</p>
            <input th:field="*{available}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="number" name="available" placeholder="Enter available">
            <div th:if="${#fields.hasErrors('available')}" th:errors="*{available}"></div>
            <input type="submit" name="" value="Add airplane ticket">
        </form>
    </div>
</header>
</body>
</html>