<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="add-airplane-ticket" style="height: auto; top: 65%;">
        <h1>Airplane ticket:</h1>
        <form th:method="post"
              th:action="@{/offers/add-airplane-tickets}"
              th:object="${addAirplaneTicketsDTO}">


            <label for="companyName" class="text-white">Company name:</label>
            <input th:field="*{companyName}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="companyName"
                   type="text"
                   class="form-control"
                   id="companyName"
                   placeholder="Company name"/>
            <small th:if="${#fields.hasErrors('companyName')}"
                   th:errorclass="errors"
                   th:errors="*{companyName}"
                   class="text-danger">
                Company name error!
            </small>
            <label for="dateTime" class="text-white">Date and hour:</label>
            <input th:field="*{dateTime}"
                   th:errorclass="'is-invalid alert-danger'"
                   th:value="${#dates.format(dateTime, 'yyyy-MM-ddTHH:mm')}"
                   name="dateTime"
                   type="datetime-local"
                   class="form-control"
                   id="dateTime"
                   placeholder="YYYY-MM-DDTHH:mm"/>
            <small th:if="${#fields.hasErrors('dateTime')}"
                   th:errorclass="errors"
                   th:errors="*{dateTime}"
                   class="text-danger">
                Date error!
            </small>



            <label for="fromAirport" class="text-white">Departure airport:</label>
            <input th:field="*{fromAirport}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="fromAirport"
                   type="text"
                   class="form-control"
                   id="fromAirport"
                   placeholder="Departure from airport"/>
            <small th:if="${#fields.hasErrors('fromAirport')}"
                   th:errorclass="errors"
                   th:errors="*{fromAirport}"
                   class="text-danger">
                Departure airport error!
            </small>

            <label for="toAirport" class="text-white">Arrival airport:</label>
            <input th:field="*{toAirport}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="toAirport"
                   type="text"
                   class="form-control"
                   id="toAirport"
                   placeholder="Arrive at airport"/>
            <small th:if="${#fields.hasErrors('toAirport')}"
                   th:errorclass="errors"
                   th:errors="*{toAirport}"
                   class="text-danger">
                Arrive airport error!
            </small>
            <label for="flyNumber" class="text-white">Flight number:</label>
            <input th:field="*{flyNumber}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="flyNumber"
                   type="number"
                   class="form-control"
                   id="flyNumber"
                   placeholder="Flight number"/>
            <small th:if="${#fields.hasErrors('flyNumber')}"
                   th:errorclass="errors"
                   th:errors="*{flyNumber}"
                   class="text-danger">
                Flight number error!
            </small>
            <label for="price" class="text-white">Price:</label>
            <input th:field="*{price}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="price"
                   type="number"
                   step="any"
                   class="form-control"
                   id="price"
                   placeholder="Price"/>
            <small th:if="${#fields.hasErrors('price')}"
                   th:errorclass="errors"
                   th:errors="*{price}"
                   class="text-danger">
                Price error!
            </small>
            <label for="available" class="text-white">Available:</label>
            <input th:field="*{available}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="available"
                   type="number"
                   step="any"
                   class="form-control"
                   id="available"
                   placeholder="Available"/>
            <small th:if="${#fields.hasErrors('available')}"
                   th:errorclass="errors"
                   th:errors="*{available}"
                   class="text-danger">
                Price error!
            </small>


            <!--            <label for="available" class="text-white">Quantity:</label>-->
            <!--            <input th:field="*{available}"-->
            <!--                   th:errorclass="'is-invalid alert-danger'"-->
            <!--                   name="available"-->
            <!--                   type="number"-->
            <!--                   class="form-control"-->
            <!--                   id="available"-->
            <!--                   placeholder="0"/>-->
            <!--            <small th:if="${#fields.hasErrors('available')}"-->
            <!--                   th:errorclass="error"-->
            <!--                   th:errors="*{available}"-->
            <!--                   class="text-danger">-->
            <!--                Quantity error!-->
            <!--            </small>-->

            <input type="submit" name="" value="Add airplane ticket offer">
        </form>
    </div>
</header>
</body>
</html>