<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body class="airplane-tickets">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
</header>

<main>
    <div class="container bg-blur rounded mt-5 mb-4">
        <h1 class="offers-title">All tickets to buy</h1>
        <table>
            <thead>
            <tr>


                <th>Flight number</th>
                <th>Company name</th>
                <th>From</th>
                <th>To</th>
                <th>Date and hor</th>
                <th>Price</th>
                <th>Available</th>
                <th>View offer</th>
                <th th:if="${#authorization.expression('hasRole(''BUYER'')')}">Add to cart</th>
                <th th:if="${#authorization.expression('hasRole(''SELLER'') or hasRole(''ADMIN'')')}">Remove</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="airplaneTicket: ${allAirplaneTickets}">


                <td th:text="*{airplaneTicket.flyNumber}"/>
                <td th:text="*{airplaneTicket.companyName}"/>
                <td th:text="*{airplaneTicket.fromAirport}"/>
                <td th:text="*{airplaneTicket.toAirport}"/>
                <td th:text="${#temporals.format(airplaneTicket.dateTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="*{airplaneTicket.price}"/>
                <td th:text="*{airplaneTicket.available}">

                </td>

                <td>
                    <a class="airplane-tickets-button"
                       th:href="@{/offers/view-airplane-ticket-offer/{id}(id=${airplaneTicket.id})}">
                        <i class="material-icons" style="color: yellow">remove_red_eye</i></a>
                </td>

                <td th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <form th:action="@{/cart/offers/add-airplane-ticket/{id} (id=${airplaneTicket.id})}" method="get">
                        <input type="number" id="days" name="days" required/>
                        <button type="submit" class="airplane-tickets-button" style="background: none">
                            <i class="material-icons" style="color: green">add_shopping_cart</i>
                        </button>
                    </form>
                </td>

                <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="airplane-tickets-button"
                       th:href="@{/offers/remove-airplane-ticket-by-admin/{id}(id=${airplaneTicket.id})}"
                       th:method="get">
                        <i class="material-icons" style="color: red">delete</i></a>
                </td>
                <td th:if="${#authorization.expression('hasRole(''SELLER'')')}">
                    <a class="airplane-tickets-button"
                       th:href="@{/cart/offers/remove-airplane-ticket/{id}(id=${airplaneTicket.id})}"
                       th:method="get">
                        <i class="material-icons" style="color: red">delete</i></a>
                </td>



            </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>


</main>
</body>

</html>