<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>


</head>

<body class="airplane-tickets">
<header>
  <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
</header>

<main>
  <div class="container bg-blur rounded mt-5 mb-4">
    <h1>All car rent offers:</h1>
    <table>
      <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Body type</th>
        <th>Fuel type</th>
        <th>Price</th>
        <th>Insurance price</th>
        <th>Show offer</th>
        <th>Buy</th>



      </tr>
      </thead>
      <tbody>
      <tr th:each="car: ${allCars}">
        <td th:text="*{car.make}"/>
        <td th:text="*{car.model}"/>
        <td th:text="*{car.bodyType}"/>
        <td th:text="*{car.fuelType}"/>
        <td th:text="*{car.price}"/>
        <td th:text="*{car.insurance}"/>

        <td class="button-33"><a th:href="@{/offers/read-car-offer/{id}(id=${car.id})}">Show
          offer</a></td>
        <!-- add in car -->
        <td><a th:href="@{/offers/read-car-offer/{id}(id=${car.id})}">Buy</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  </div>
</main>


</main>
</body>

</html>