<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body class="rent-cars">
<header>
  <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
</header>

<main>
  <div class="container bg-blur rounded mt-5 mb-4">
    <h1 class="offers-title">All car rent offers:</h1>
    <table>
      <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Body type</th>
        <th>Fuel type</th>
        <th>Price</th>
        <th>Available</th>
        <th>View offer</th>
        <th th:if="${#authorization.expression('hasRole(''BUYER'')')}">Add to cart</th>
        <th th:if="${#authorization.expression('hasRole(''SELLER'')')}">Remove</th>




      </tr>
      </thead>
      <tbody>
      <tr th:each="car: ${allCars}">
        <td th:text="*{car.make}"/>
        <td th:text="*{car.model}"/>
        <td th:text="*{car.bodyType}"/>
        <td th:text="*{car.fuelType}"/>
        <td th:text="*{car.price}"/>
        <td>
          <span th:if="${car.available != 0}" th:text="${car.available}"/>
          <span th:if="${car.available == 0}">Sold Out</span>
        </td>




        <td>
          <a class="airplane-tickets-button"
             th:href="@{/offers/view-car-offer/{id}(id=${car.id})}">
            <i class="material-icons" style="color: yellow">remove_red_eye</i></a>
        </td>

        <td th:if="${#authorization.expression('hasRole(''BUYER'')')}">
          <a class="airplane-tickets-button"
             th:href="@{/offers/view-car-offer/{id}(id=${car.id})}">
            <i class="material-icons" style="color: green">add_shopping_cart</i>
          </a>
          <!--TODO: IF this offer is sold out - throw message for this                    -->
        </td>

        <td th:if="${#authorization.expression('hasRole(''SELLER'')')}">
          <a  class="airplane-tickets-button"
              th:href="@{/offers/remove-car-rent/{id}(id=${car.id})}"
              th:method="get">
            <i class="material-icons" style="color: red">delete</i></a>
        </td>


      </tr>
      </tbody>
    </table>
  </div>
  </div>
</main>


</main>
</body>

</html>