<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>
    <div class="container bg-blur rounded mt-5 mb-4">

        <h1>All tickets to buy</h1>
        <table>
            <thead>
            <tr>
                <th>Flight number</th>
                <th>Company name</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th>Price</th>
                <th>Available</th>
                <th>Show offer</th>
                <th>Buy</th>
                <th th:if="${#authorization.expression('hasRole(''BUYER'')')}">Remove</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="airplaneTicket: ${myAirplaneTicketCart}">
                <td th:text="*{airplaneTicket.flyNumber}"/>
                <td th:text="*{airplaneTicket.companyName}"/>
                <td th:text="*{airplaneTicket.fromAirport}"/>
                <td th:text="*{airplaneTicket.toAirport}"/>
                <td th:text="*{airplaneTicket.date}"/>
                <td th:text="*{airplaneTicket.price}"/>
                <td>
                    <span th:if="${airplaneTicket.available != 0}" th:text="${airplaneTicket.available}"/>
                    <span th:if="${airplaneTicket.available == 0}">Sold Out</span>
                </td>

                <td><a th:href="@{/offers/view-airplane-ticket-offer/{id}(id=${airplaneTicket.id})}">Show
                    offer</a></td>
                <td><a th:method="get" th:href="@{/offers/buy-airplane-ticket-offer/{id}(id=${airplaneTicket.id})}">Buy</a>
                <td th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <form th:method="post" th:action="@{/buyers/cart/remove-airplane-ticket-from-cart/{id}(id=${airplaneTicket.id})}">
                        <input type="hidden" name="ticketId" th:value="${airplaneTicket.id}"/>
                        <button type="submit">Remove</button>
                    </form>
                </td>


            </tr>
            </tbody>
        </table>
        <h1>All car rent offers:</h1>
        <table>
            <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Body type</th>
                <th>Fuel type</th>
                <th>Price</th>
                <th>Available</th>
                <th>Show offer</th>
                <th>Buy</th>
                <th th:if="${#authorization.expression('hasRole(''BUYER'')')}">Remove</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="car: ${myCarCart}">
                <td th:text="*{car.make}"/>
                <td th:text="*{car.model}"/>
                <td th:text="*{car.bodyType}"/>
                <td th:text="*{car.fuelType}"/>
                <td th:text="*{car.price}"/>
                <td>
                    <span th:if="${car.available != 0}" th:text="${car.available}"/>
                    <span th:if="${car.available == 0}">Sold Out</span>
                </td>

                <td class="button-33"><a th:href="@{/offers/view-car-offer/{id}(id=${car.id})}">Show
                    offer</a></td>
                <!-- add in car -->
                <td><a th:method="get" th:href="@{/offers/buy-car-offer/{id}(id=${car.id})}">Buy</a>
                </td>
                <td th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <form th:method="post" th:action="@{/buyers/cart/remove-car-rent-from-cart/{id}(id=${car.id})}">
                        <input type="hidden" name="carId" th:value="${car.id}"/>
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <h1>All hotel offers:</h1>
        <table>
            <thead>
            <tr>
                <th>Hotel name</th>
                <th>Country</th>
                <th>City</th>
                <th>Hotel stars</th>
                <th>Price per night</th>
                <th>Available</th>
                <th>Show offer</th>
                <th>Buy</th>
                <th th:if="${#authorization.expression('hasRole(''BUYER'')')}">Remove</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel: ${myHotelCart}">
                <td th:text="*{hotel.name}"/>
                <td th:text="*{hotel.country}"/>
                <td th:text="*{hotel.city}"/>
                <td th:text="*{hotel.stars}"/>
                <td th:text="*{hotel.pricePerNight}"/>

                <td>
                    <span th:if="${hotel.available != 0}" th:text="${hotel.available}"/>
                    <span th:if="${hotel.available == 0}">Sold Out</span>
                </td>

                <td class="button-33"><a th:href="@{/offers/view-hotel-offer/{id}(id=${hotel.id})}">Show
                    offer</a></td>
                <!-- add in car -->
                <td><a th:method="get" th:href="@{/offers/buy-hotel-offer/{id}(id=${hotel.id})}">Buy</a>
                </td>
                <td th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <form th:method="post" th:action="@{/buyers/cart/remove-hotel-from-cart/{id}(id=${hotel.id})}">
                        <input type="hidden" name="hotelId" th:value="${hotel.id}"/>
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</header>
</body>
</html>