<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
  <div th:replace="~{fragments/navbar :: navbar}">
    Navbar
  </div>

<div class="contacts" style="color: white; height: 730px; margin: 30px;">
  <h1>You can call us or write us!</h1>
  </br>
  <form>
    <h3> Contact us:</h3>
    </br>
    <h3> 📧 Email: </h3>
    - For questions and support: <a style="display: inline" href="http://localhost:8080/contacts">support@travelseeker.com</a> </br>
    - For partnerships and business inquiries: <a style="display: inline" href="http://localhost:8080/contacts">partnerships@travelseeker.com</a> </br>
    </br>
    <h3> 📞 Customer Service Phone:</h3>
    - Customer service: +359 123 456 789 </br>
    - Emergency line: +359 987 654 321 </br>
    </br>
    <h3> 📍 Office:</h3>
    - Address: Primerna Street #1, Stara Zagora, 6000 </br>
    - Opening hours: Monday - Friday, 9:00 - 18:00 </br>
    </br>
    <h3> 🌐 Social networks:</h3>
    - <a style="display: inline" href="http://localhost:8080/contacts">Facebook</a> </br>
    - <a style="display: inline" href="http://localhost:8080/contacts">Twitter</a> </br>
    - <a style="display: inline" href="http://localhost:8080/contacts">Instagram</a> </br>
    </br>
    <h3> 📱 Support via social networks: </h3>
    - Use our social media direct messages for quick support.</br>
    </br>
    Feel free to contact us with any questions, suggestions or just to say hello! We are here to help you.</br>
    </br>
    With respect,</br>
    The <b>Travel seeker</b> team
  </form>
</div>
</header>
</body>
</html>