<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="hotels">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
</header>

<main>
    <div class="container bg-blur rounded mt-5 mb-4">
        <h1 class="offers-title">All hotel offers:</h1>
        <table>
            <thead>
            <tr>
                <th>Hotel name</th>
                <th>Country</th>
                <th>City</th>
                <th>Hotel stars</th>
                <th>Price per night</th>
                <th>Available</th>
                <th>View offer</th>
                <th th:if="${#authorization.expression('hasRole(''BUYER'')')}">Add to cart</th>
                <th th:if="${#authorization.expression('hasRole(''SELLER'') or hasRole(''ADMIN'')')}">Remove</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel: ${allHotels}">
                <td th:text="*{hotel.name}"></td>
                <td th:text="*{hotel.country}"></td>
                <td th:text="*{hotel.city}"></td>
                <td th:text="*{hotel.stars}"></td>
                <td th:text="*{hotel.pricePerNight}"></td>

                <td th:text="*{hotel.available}">
<!--                    <span th:if="${hotel.available != 0}" th:text="${hotel.available}"></span>-->
<!--                    <span th:if="${hotel.available == 0}">Sold Out</span>-->
                </td>

                <td>
                    <a class="airplane-tickets-button"
                       th:href="@{/offers/view-hotel-offer/{id}(id=${hotel.id})}">
                        <i class="material-icons" style="color: yellow">remove_red_eye</i></a>
                </td>

                <td th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <a class="airplane-tickets-button"
                       th:href="@{/offers/view-hotel-offer/{id}(id=${hotel.id})}">
                        <i class="material-icons" style="color: green">add_shopping_cart</i>
                    </a>

                </td>

                <td th:if="${#authorization.expression('hasRole(''SELLER'') or hasRole(''ADMIN'')')}">
                    <a  class="airplane-tickets-button"
                        th:href="@{/offers/remove-hotel/{id}(id=${hotel.id})}"
                        th:method="get">
                        <i class="material-icons" style="color: red">delete</i></a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>


</main>
</body>

</html>