<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>


</head>

<body class="airplane-tickets">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
</header>

<main>
    <div class="container bg-blur rounded mt-5 mb-4">
        <h1>All hotel offers:</h1>
        <table>
            <thead>
            <tr>
                <th>Hotel name</th>
                <th>Country</th>
                <th>City</th>
                <th>Hotel stars</th>
                <th>Price per night</th>
                <th>Available</th>
                <th>Show offer</th>
                <th>Buy</th>
                <th>Remove</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel: ${allHotels}">
                <td th:text="*{hotel.name}"/>
                <td th:text="*{hotel.country}"/>
                <td th:text="*{hotel.city}"/>
                <td th:text="*{hotel.stars}"/>
                <td th:text="*{hotel.pricePerNight}"/>

                <td>
                    <span th:if="${hotel.available != 0}" th:text="${hotel.available}"/>
                    <span th:if="${hotel.available == 0}">Sold Out</span>
                </td>

                <td class="button-33"><a th:href="@{/offers/view-hotel-offer/{id}(id=${hotel.id})}">Show
                    offer</a></td>
                <!-- add in car -->
                <td><a th:href="@{/offers/view-hotel-offer/{id}(id=${hotel.id})}">Buy</a>
                </td>
                <td th:if="${#authorization.expression('hasRole(''SELLER'')')}">
                    <form th:method="post" th:action="@{/offers/remove-hotel/{id}(id=${hotel.id})}">
                        <input type="hidden" name="hotelId" th:value="${hotel.id}"/>
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>


</main>
</body>

</html>