<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox" style="height: 400px; transform: translate(-50%, -85%);">
        <h1>My Profile</h1>
        </br>
        </br>
        <form th:object="${user}"
        th:action="@{/users/edit-profile}"
        th:method="get">

            <div class="text-formatter"> Username:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{username}" name="username" readonly>
                </h1>
            </div>

            <div class="text-formatter"> First name:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{firstName}" name="firstName" readonly>
                </h1>
            </div>

            <div class="text-formatter"> Last name:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{lastName}" name="lastName" readonly>
                </h1>
            </div>

            <div class="text-formatter"> Email:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{email}" name="email" readonly>
                </h1>
            </div>

            <div class="text-formatter"> Age:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="number" th:text=" *{age}" name="age" readonly>
                </h1>
            </div>

            <div class="text-formatter"> Country:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{country}" name="country" readonly>
                </h1>
            </div>

            <div class="text-formatter"> Role:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{role}" name="role" readonly>
                </h1>
            </div><br>



            <input type="submit" name="" value="Edit profile">




        </form>
    </div>
</header>
</body>
</html>