<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox">
        <h1>My Profile</h1>
        <form th:object="${user}">
            <p>Username:</p>
            <h1 type="text" th:text="*{username}" name="username" readonly></h1>

            <p>First name:</p>
            <h1 type="text" th:text="*{firstName}" name="firstname" value="firstname" readonly></h1>

            <p>Last name:</p>
            <h1 type="text" th:text="*{lastName}" name="lastname" value="lastname" readonly></h1>
            <p>Email:</p>
            <h1 type="text" th:text="*{email}" name="email" value="email" readonly></h1>

            <p>Age:</p>
            <h1 type="number" th:text="*{age}" name="age" value="age" readonly></h1>

            <p>Country:</p>
            <h1 type="text" th:text="*{country}" name="country" value="country" readonly></h1>

            <p>Role:</p>
            <h1 type="text" th:text="*{role}" name="role" value="role" readonly></h1>

            <!-- Add more input fields for other user settings if needed -->

            <a href="/edit-profile">Edit Profile</a><br>
        </form>
    </div>
</header>
</body>
</html>