<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>
    <div class="container bg-blur rounded mt-5 mb-4">
        <h1 class="offers-title">All bought airplane tickets:</h1>
        <table>
            <thead>
            <tr>
                <th>Flight number</th>
                <th>Company name</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th>Price/lv/</th>
                <th>Available</th>
                <th>View offer</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="airplaneTicket, iterStat : ${myAirplaneTicketBought}">
                <th:block
                        th:if="${iterStat.index == 0 or myAirplaneTicketBought[iterStat.index - 1].id != airplaneTicket.id}">
                    <td th:text="*{airplaneTicket.flyNumber}"></td>
                    <td th:text="*{airplaneTicket.companyName}"></td>
                    <td th:text="*{airplaneTicket.fromAirport}"></td>
                    <td th:text="*{airplaneTicket.toAirport}"></td>
                    <td th:text="${#temporals.format(airplaneTicket.dateTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="*{airplaneTicket.price}"></td>
                    <td th:text="${airplaneTicketDays.get(airplaneTicket.id)}"></td>

                    <td>
                        <a class="airplane-tickets-button"
                           th:href="@{/offers/view-airplane-ticket-offer/{id}(id=${airplaneTicket.id})}">
                            <i class="material-icons" style="color: yellow">remove_red_eye</i></a>
                        </a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
        <h1 class="offers-title">All bought car rental offers:</h1>
        <table>
            <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Body type</th>
                <th>Fuel type</th>
                <th>Price/lv/</th>
                <th>Days</th>
                <th>View offer</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="car, iterStat : ${myCarRentBought}">
                <th:block th:if="${iterStat.index == 0 or myCarRentBought[iterStat.index - 1].id != car.id}">
                    <td th:text="*{car.make}"></td>
                    <td th:text="*{car.model}"></td>
                    <td th:text="*{car.bodyType}"></td>
                    <td th:text="*{car.fuelType}"></td>
                    <td th:text="*{car.price}"></td>
                    <td th:text="${carRentDays.get(car.id)}"></td>


                    <td>
                        <a class="airplane-tickets-button"
                           th:href="@{/offers/view-car-offer/{id}(id=${car.id})}">
                            <i class="material-icons" style="color: yellow">remove_red_eye</i>
                        </a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
        <h1 class="offers-title">All bought hotel offers:</h1>
        <table>
            <thead>
            <tr>
                <th>Hotel name</th>
                <th>Country</th>
                <th>City</th>
                <th>Hotel stars</th>
                <th>Price per night/lv/</th>
                <th>Available</th>
                <th>View offer</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel, iterStat : ${myHotelBought}">
                <th:block th:if="${iterStat.index == 0 or myHotelBought[iterStat.index - 1].id != hotel.id}">
                    <td th:text="*{hotel.name}"></td>
                    <td th:text="*{hotel.country}"></td>
                    <td th:text="*{hotel.city}"></td>
                    <td th:text="*{hotel.stars}"></td>
                    <td th:text="*{hotel.pricePerNight}"></td>
                    <td th:text="${hotelDays.get(hotel.id)}"></td>


                    <td>
                        <a class="airplane-tickets-button"
                           th:href="@{/offers/view-hotel-offer/{id}(id=${hotel.id})}">
                            <i class="material-icons" style="color: yellow">remove_red_eye</i>
                        </a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</header>
</body>
</html>