<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox">
        <h1>My Profile</h1>
        <form <form th:object="${readAirplaneTicket}"
                    th:action="@{'/offers/read-airplane-ticket-offer/' + ${id} + '/addToCart'}"
                    th:method="get">>
            <p>Username:</p>
            <h1 type="text" th:text="*{companyName}" name="companyName" readonly></h1>

            <p>Last name:</p>
            <h1 type="text" th:text="*{fromAirport}" name="fromAirport" value="fromAirport" readonly></h1>
            <p>Email:</p>
            <h1 type="text" th:text="*{toAirport}" name="toAirport" value="toAirport" readonly></h1>


            <input type="submit" name="" value="Add to cart">
        </form>
    </div>
</header>
</body>
</html>