<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
  <div th:replace="~{fragments/navbar :: navbar}">
    Navbar
  </div>

  <div class="registerbox" style="height: 350px; width: 600px; transform: translate(-50%, -85%);">
    <h1>Hotel offer:</h1>
    <form th:object="${readHotel}"
                th:action="@{'/offers/view-hotel-offer/' + ${id} + '/addToCart'}"
                th:method="get">
      <div class="text-formatter"> Hotel name:
        <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{name}" name="name" readonly>
        </h1>
      </div>
      <div class="text-formatter"> Country:
        <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{country}" name="country" readonly>
        </h1>
      </div>
      <div class="text-formatter"> City:
        <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{city}" name="city" readonly>
        </h1>
      </div>
      <div class="text-formatter"> Hotel stars:
        <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{stars}" name="stars" readonly>
        </h1>
      </div>
      <div class="text-formatter"> Price per night/lv/:
        <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{pricePerNight}" name="pricePerNight" readonly>
        </h1>
      </div>
      <div class="text-formatter"> Available:
        <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{available}" name="available" readonly>
        </h1>
      </div>




    </form>
  </div>
</header>
</body>
</html>