<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox" style="height: 350px; width: 600px; transform: translate(-50%, -85%);">
        <h1>Car rental offer:</h1>
        <form th:object="${readCar}"
              th:action="@{'/offers/view-car-offer/' + ${id} + '/addToCart'}"
              th:method="get">
            <div class="text-formatter"> Make:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{make}" name="make" readonly>
                </h1>
            </div>
            <div class="text-formatter"> Model:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{model}" name="model" readonly>
                </h1>
            </div>

            <div class="text-formatter"> Body type:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{bodyType}" name="bodyType" readonly>
                </h1>
            </div>
            <div class="text-formatter"> Fuel type:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{fuelType}" name="fuelType" readonly>
                </h1>
            </div>
            <div class="text-formatter"> Price per day:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{price}" name="price" readonly>
                </h1>
            </div>
            <div class="text-formatter"> Available:
                <h1 style="display: inline;  padding: 0 0 0 20px ;" type="text" th:text=" *{available}" name="available" readonly>
                </h1>
            </div>


        </form>
    </div>
</header>
</body>
</html>