<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/navbar::head}"></head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JourneySeekerHub</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="register">
<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="registerbox">
        <h1>My Profile</h1>
        <form th:object="${readAirplaneTicket}"
              th:action="@{'/offers/view-airplane-ticket-offer/' + ${id} + '/addToCart'}"
              th:method="get">
            <p>Company name:</p>
            <h1 type="text" th:text="*{companyName}" name="companyName" readonly></h1>
            <p>From airport:</p>
            <h1 type="text" th:text="*{fromAirport}" name="fromAirport" value="fromAirport" readonly></h1>
            <p>To airport:</p>
            <h1 type="text" th:text="*{toAirport}" name="toAirport" value="toAirport" readonly></h1>
            <p>Flight number:</p>
            <h1 type="text" th:text="*{flyNumber}" name="flyNumber" value="flyNumber" readonly></h1>
            <p>Price:</p>
            <h1 type="text" th:text="*{price}" name="price" value="price" readonly></h1>

        </form>
    </div>
</header>
</body>
</html>